<% unless logged_in? %>
    <%= render 'shared/not_logged_in' %>
<% end %>

<% if logged_in? && !@user.finished_tutorial%>
    <%= render 'shared/logged_in_tutorial' %>
<% end %>



<div class="container main_background padded_10" style="min-width: 1100px">
    <div class="flex container minwidth">
        <div class="col-md-9">
            <iframe class="rounded_5" src=<%= @tactic.url%> width="750" height="576"></iframe>
        </div>

        <div class="padded-sidebar center container col-md-4" style="background-color: #455A64; border-radius: 5px; max-width: 400px;">
            <span class="flex padded-playinfo col-md-12 btn btn-success">
                It is your turn to play
            </span>

            <div class="col-md-12 padded-playinfo light_grey">
                <span>
                    <%= render 'shared/timer'%>
                </span>
            </div>

            <div class="col-md-12 padded-playinfo white_to_play">
                <span>White's Turn</span>
            </div>

            <hr class="col-md-11">
            <div>
                <span class="select_a_move">Select a move</span>
                <div class="col-md-12 flex">
                    <div>
                        <span class="move_choices btn btn-md btn-secondary"> <%= @moves[:one] %> </span>
                        <span class="move_choices btn btn-md btn-secondary"> <%= @moves[:two] %> </span>
                    </div>
                    <div>
                        <span class="move_choices btn btn-md btn-secondary"> <%= @moves[:three] %> </span>
                        <span class="move_choices btn btn-md btn-secondary"> <%= @moves[:four] %></span>
                    </div>

                </div>

            </div>
            <hr class="col-md-11">


            <div class="col-md-12 center my_rating">
                <span>My Rating: </span>
                <% if logged_in? %>
                    <%= @user.rating %>
                <% else %>
                    <%= "N/A" %>
                <% end %>
            </div>

            <div class="col-md-12 light_blue">
                <div class="center" style="text-decoration: underline;">Post Completion Info</div>

                <div>
                    <span>Problem Rating: <%= @tactic.rating + 1 %> </span>

                </div>
                <div>
                    <span>Problem Attempts: <%= @tactic.attempts %></span>
                </div>
                <div>
                    <span>Pass Rate: 30%</span>
                </div>
                <span style="float: right;" class="btn btn-sm btn-success">
                    Comments
                </span>

            </div>
        </div>

    </div>

</div>

<script>
    $(document).one('ready', (function() {
        var correct = <%= @moves[:correct] %>;
        alert(<%= @moves[:correct] %>);


    }))
</script>

